 img{
	max-width: 100%;
	height: auto;
}
*{
	/*border: 1px solid #ccc;*/
	font-family: "微軟正黑體", "Arial";
}

/*載入動畫設定----------------------*/
.loader{
  height: 400px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 400px auto;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #f00;
}
.pageloading{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  transition: 0.5s;
  transition-delay: 0.5s 
  z-index:99999449;
}



.complete{
  opacity: 0;
 transition: 0.5s;
  z-index: -1;
}

/*載入動畫設定_end---------------*/


/*cloud--------------*/

.cloud {
  background-image: url('http://cmagruder.me/content/home/clouds.png'); 
  background-position: 0px 0px;
	background-repeat: repeat-x;
  height: 100%;
  width: 100%;
  opacity: 1;
  left: 0px;
  position: absolute;
  /*background-color: #000;*/
  top: 0px;
}

@keyframes cloud {
   100% { background-position: -2900px 1000px; }
}


.cloud {
animation: cloud 20s linear infinite ;
animation-delay: 1.5s;
}



/*cloud end--------------*/



/*test---------*/
.container_aa{
  max-width: 2000px;
  padding: 20px 250px;
  cursor: pointer;

}
.switch_mobile{
	display: none;
}

.image-reveal {
  position: relative;
}

.under-slide {
  position: relative;
  overflow: hidden;
  padding-top: 41%;
  top: 0;
  left: 0;
  background: url("../Images/lens/lenspro-img-before-01_preview.png") no-repeat;
  background-size: cover;
}

.over-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(0px);
  overflow: hidden;
}

.over-image {
  height: 100%;
  width: 100%;
  background: url("../Images/lens/lenspro-img-after-01.png") no-repeat;
  background-size: cover;
  -webkit-transform: translateX(0px);
}

.divider {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  /*margin-left: 2px;*/

  background-color: #fff;
}

.lens_mavic_repeat_02 .under-slide{
  position: relative;
  overflow: hidden;
  padding-top: 41%;
  top: 0;
  left: 0;
  background: url("../Images/lens/lenspro-img-before-02.png") no-repeat;
  background-size: cover;
}

.lens_mavic_repeat_02 .over-image{
  height: 100%;
  width: 100%;
  background: url("../Images/lens/lenspro-img-after-02.png") no-repeat;
  background-size: cover;
  -webkit-transform: translateX(0px);
}

.lens_mavic_repeat_03 .under-slide{
  position: relative;
  overflow: hidden;
  padding-top: 41%;
  top: 0;
  left: 0;
  background: url("../Images/lens/lenspro-img-before-03.png") no-repeat;
  background-size: cover;
}

.lens_mavic_repeat_03 .over-image{
  height: 100%;
  width: 100%;
  background: url("../Images/lens/lenspro-img-after-03.png") no-repeat;
  background-size: cover;
  -webkit-transform: translateX(0px);
}

.lens_mavic_repeat_04 .under-slide{
  position: relative;
  overflow: hidden;
  padding-top: 41%;
  top: 0;
  left: 0;
  background: url("../Images/lens/lenspro-img-before-04.png") no-repeat;
  background-size: cover;
}

.lens_mavic_repeat_04 .over-image{
  height: 100%;
  width: 100%;
  background: url("../Images/lens/lenspro-img-after-04.png") no-repeat;
  background-size: cover;
  -webkit-transform: translateX(0px);
}
#Mavic .lens_mavic_repeat_05 .under-slide{
  position: relative;
  overflow: hidden;
  padding-top: 41%;
  top: 0;
  left: 0;
  background: url("../Images/lens/lenspro-img-before-05.png") no-repeat;
  background-size: cover;
}

#Mavic .lens_mavic_repeat_05 .over-image{
  height: 100%;
  width: 100%;
  background: url("../Images/lens/lenspro-img-after-05_preview.png") no-repeat;
  background-size: cover;
  -webkit-transform: translateX(0px);
}


#phantom .lens_mavic_repeat_05 .under-slide{
  position: relative;
  overflow: hidden;
  padding-top: 41%;
  top: 0;
  left: 0;
  background: url("../Images/lens/Lenspro-Phantom-style/b_a/lenspro-p-img-before-05.png") no-repeat;
  background-size: cover;
}

#phantom .lens_mavic_repeat_05 .over-image{
  height: 100%;
  width: 100%;
  background: url("../Images/lens/Lenspro-Phantom-style/b_a/lenspro-p-img-after-05.png") no-repeat;
  background-size: cover;
  -webkit-transform: translateX(0px);
}

/*test end-------*/

/*載入動畫設定*/

.pageloading{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	z-index: 1000;
	transition: 0.5s;
	transition-delay: 0.5s 
	z-index:999999;
}
.pageloading img{
	width: 50%;
	padding-top: 250px;
	transition: 0.5s;
	animation: jumping 0.5s infinite alternate;

	position: relative;
	
}

.loading{
	width: 40%;
	height: 15px;
	border-radius: 40px;
	background-color: #fff;
	border: 2px solid #f00;
	overflow: hidden;
}

.bar{
	width: 0%;
	height: 100%;
	background-color: #f00;
}
.complete{
	opacity: 0;
	z-index: -1;
}
.complete img{
	transform: scale(0.01) rotate(360deg);

}

@keyframes jumping {
  50% {
    top: 0;
    
  }
  100% {
    top: -80px;
   
  }
}
*/
/*載入動畫設定_end*/


.h1, .h2, .h3, h1, h2, h3 {
     margin-top: 0px !important; 
     margin-bottom: 10px !important; 
}
 #Spark{
	display: none;
}

.ani {
    opacity: 0
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999
}
.wrap{
	margin: 0 auto;
	max-width: 100%;
	min-width: 320px;
	overflow: hidden;
	position: relative;
}
.text{
	max-width: 1200px;
	margin: 0 auto;
	color: #ffffff;
}

.cir_01, .cir_02, .cir_03{
    width: 20px;
    height: 20px;
    margin: -2px 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
}
/*.wcc701m_p05_color{
	display: inline-block;
}*/
.buy_btn{
	margin-top: 50px;
    border-radius: 25px !important;
    background-color: #eb1e24;
    width: 130px;
    height: 35px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 35px !important;
    cursor: pointer;
}
.white{background-color: #fff;}
.purple{  background-color: #B400FF; }
.blue{ background-color: #468EE5; }
.black{ background-color: #231815; }
.gold{ background-color: #c69e62; }
.pink {background: #e7948c;}
.red {background: #b81c25;}
.silver { background: #c8c9ca;}

@keyframes fadein{
	0% {opacity: 0; }
	100%{opacity: 1; }
}


.waterBlue{ background-color: #4a90e2; }
.productBg01, .productBg02, .productBg03, .productBg04, .productBg05, .productBg06,	.productBg07, .productBg08,	.productBg09, .productBg10{
	position: relative; 
}
.slickbanner .item{
	position: relative;
}
.slickbanner .text{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
}
.slickbanner .BgH1{
	font-weight: 600;
    line-height: 1.39;
    letter-spacing: 0.8px;
}
.slickbanner .BgH2{
	font-size: 18px;
}
.holder{
	width: 32.92%;
	padding-top: 600px;
	margin-right: 6.3%;
}
.rocker{
	width: 22.9%;
    padding-top: 622px;
    margin-right: 56.1%;
}
.control{
	padding-top: 320px;
	margin-right: 12.4%;
	width: 26.6%;
}
.control .BgH2{
	width:70%;
}
.slickbanner h2{
	padding-top: 22px;
}
.banner1024, .banner768, .banner320{
	display: none !important;
}
.bookmark{
	height: 90px;
	text-align: center;
	margin: 0 auto;
	background-color: #ffffff;
  	box-shadow: 2px 12px 15px rgba(183, 181, 181, 0.4);
  	border: 1px solid #eee;
}

.bookmark li{
    display: inline-block;
    width: 27%;
    margin: 15px 0;
    border-right: 1px solid #ccc;
    transition: .5s;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
}
.bookmark li:last-child{
	border-right: 0px;
}
.bookmark li:hover{
	opacity: 1;
}
.bookmark li img{
	vertical-align: middle;
	padding-right: 25px;
}

/*----------------*productBg01 style*/
.productBg01{
	background-image: url('../Images/lens/lenspro-banner-mavic-1920.jpg');
	padding: 200px 0px 700px 0px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
}

.productBg01 h1{
	font-size: 40px;
	line-height: 1.3;
	text-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
	text-align: center;
	color: #fff;
	animation-name: fadein;
	animation-duration: 5s;
}


.productBg01 h2{
    margin-top: 31px;
    text-align: center;
    font-size: 20px;
     line-height: 1.42;
    color: #fff;
    animation-name: fadein;
	animation-duration: 5s;
}
#wcc701m .wcc701m_p02 h1{
 	margin-top: 150px !important;
 }
/*----------------productBg02 style*/
.productBg02 .container{
	width: 100% !important;
	padding: 0px;
}
.productBg02{
	background-color: #dcdcdc;
	padding: 0px 0px ;
	background-size: cover;
	height: 550px;
}

.productBg02 h1, .productBg02 h2{
	text-align: left;
}

.productBg02 h1{
	font-size: 30px;
	font-weight: 500;
	color: #4a4a4a;
	width: 50%;
	margin-left:312px;
}
.productBg02 h2{
  margin-left:312px;
  font-size: 18px;
  font-weight: normal;
  color: #4a4a4a;
   width: 50%;
  margin-bottom: 5px;
}

.productBg02 p{
  font-size: 14px;
  font-weight: normal;
  padding-right: 40px;
  margin-left:312px;
  color: #4a4a4a;
  margin-top: 40px;
  width: 50%;
  margin-bottom: 14px;
}
.productBg02 .t01{
	 margin-top: 160px;
}
.productBg02 .t02{
	background-image: url('../Images/lens/lenspro-img-06.1.png');
	background-repeat: no-repeat;
	height: 550px;
	-webkit-background-size: cover;
	background-size: cover;
}
img.p02-1{
	position: absolute;
	left: -140px;
	width: 400px;
	top: 5px;
}
#phantom .productBg02 .t02{
	background-image: url('../Images/lens/Lenspro-Phantom-style/lenspro-p-img-03-1920.png');
}
/*----------------productBg02-1 style*/
.productBg02-1 .container{
	width: 100% !important;
	padding: 0px;
}
.productBg02-1{
	background-color: #dcdcdc;
	padding: 0px 0px ;
	background-size: cover;
	height: 550px;
}

.productBg02-1 h1, .productBg02-1 h2{
	text-align: left;
}

.productBg02-1 h1{
	font-size: 30px;
	font-weight: 500;
	color: #4a4a4a;
	width: 50%;
	margin-left:112px;
}
.productBg02-1 h2{
  margin-left:112px;
  font-size: 18px;
  font-weight: normal;
  color: #4a4a4a;
   width: 50%;
  margin-bottom: 5px;
}

.productBg02-1 p{
  font-size: 14px;
  font-weight: normal;
  margin-left:112px;
  color: #4a4a4a;
  margin-top: 40px;
  width: 50%;
  margin-bottom: 14px;
}
.productBg02-1 .t01{
	margin-top: 160px;
}
.productBg02-1 .t02{
	background-image: url('../Images/lens/lenspro-img-04-1920.png');
	background-repeat: no-repeat;
	height: 550px;
	-webkit-background-size: cover;
	background-size: cover;
}
img.p02-1{
	/*position: absolute;*/
	left: -140px;
	width: 400px;
	top: 5px;
}






/*----------------productBg03 style*/
.productBg03{
	padding: 100px 0px;
	background-image: linear-gradient(to top, #ffffff, #f1f1f1);


}
.productBg03 h1, .productBg03 h2, .productBg03 p{
	text-align: center;
}

.productBg03 h1{
	font-size: 30px;
	font-weight: 500;
	color: #000;
	margin-bottom: 20px;
}
.productBg03 h2{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.17;
  letter-spacing: 0.4px;
  color: #4a4a4a;
  margin-bottom: 105px;
}
.productBg03 p{
	font-size: 16px;
	color: #4a4a4a;
	margin-top: 30px;
}

/*----------------productBg04 style*/

.productBg04 {
	background-image: url('../Images/lens/lenspro-img-00-1920.jpg');
	padding: 250px 0px 600px 0px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
}
#phantom .productBg04{
	background-image: url('../Images/lens/Lenspro-Phantom-style/lenspro-p-img-00-1920.png');
}
.productBg04 h1{
	font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.productBg04 h2{
	font-size: 18px;
    font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.56;
  	text-align: center;
  	letter-spacing: 0.3px;
    color: #fff;
}
.productBg04 p{
	margin-top: 14px;
	font-size: 14px;
	line-height: 1.56;
	padding: 0px 250px;
	text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
}

/*----------------productBg05 style*/
.productBg05{
	padding: 100px  0px;

}
.productBg05 .container{
	width: 1200px;
}
.productBg05 h1{
	color: #4a4a4a;
	text-align: center;
	font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
}
.productBg05 h2{
	font-size: 18px;
	color: #4a4a4a;
	text-align: center;
	font-weight: normal;
}
.productBg05 p{
	color: #4a4a4a;
	margin-top: 25px;
	font-size: 14px;
  font-weight: 500;
  text-align: center;
    line-height: 1.56;
  letter-spacing: 0.3px;
}
img.p05-1{
	position: absolute;
	/*width: 600px;*/
	left: 0;
	top: -200px;
	/*background-color: #f00;*/
}

/*----------------productBg06 style*/
.productBg06{
	padding: 100px 0px;
}
.productBg06 .container{
	width: 1400px;
}
.productBg06 .col-lg-2-5{
	width: 20%;
	float: left;
}
.productBg06 h1{
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
	color: #000;
	font-weight: 500;
}
.productBg06 h2{
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 20px;
}

.productBg06 h3{
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 63px;
	color: #4a4a4a;
}


.productBg06 p{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.64;
  text-align: center;
  padding: 0px 0px;
  color: #4a4a4a;
}
img.p06{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.productBg06 .col-lg-2{
	padding: 0px 30px;
}
.lens_btn{
	width: 130px;
    height: 35px;
    border-radius: 34px;
	border: solid 1px #7e7e7e;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	color: #7e7e7e;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.lens_btn_acttive{
	background-color: #7e7e7e;
	color: #fff;
}
/*----------------productBg07*/

.productBg07{
	padding: 90px 0px;
	background-color: #f8f8f8;
	border: 20px solid #fff;
	border-bottom: 0px; 
}
.productBg07 h1{
	font-size: 30px;
	font-weight: 500;
	color: #000;
}
.productBg07 h3{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a90e2;
  display: inline-block;
}
.productBg07 h2{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 10px;
}
.row07{
	margin-top: 0px;
}

.productBg07 p{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.64;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7e7e7e;

}
img.p07-1{
	display: inline-block;
	margin-top: -20px;
	margin-right: 20px;
}

img.p07{
	margin-left: 80px;
	width: 80%;
	margin-top: 80px;
}

img.p07-2{
display: none;
}
.lens_mavic_repeat_02 img.p07, .lens_mavic_repeat_03 img.p07, .lens_mavic_repeat_04 img.p07{
	margin-left: 80px;
	width: 60%;
	margin-top: 40px;
}
/*----------------productBg08*/

.productBg08{
	padding: 80px 0px;
	background-color: #4a4a4a;
	border: 20px solid #fff;
	border-bottom: 0px; 
}
.productBg08 h1{
	font-size: 30px;
	font-weight: 500;
	margin-top: 60px;
	color: #fff;
}

.productBg08 h2{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.3px;
  color: #fff;
  margin-bottom: 10px;
}


.productBg08 p{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.64;
  letter-spacing: 0.3px;
  text-align: left;
  color: #fff;

}

img.p08{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}



/*----------------productBg09*/

.productBg09{
	padding: 110px 0px;
	background-color: #f8f8f8;
	border: 20px solid #fff;
	border-bottom: 0px; 
}
.productBg09 h1{
	font-size: 30px;
	font-weight: 500;
	color: #000000;
	text-align: center;
}

img.p09{
	margin-top: 100px;	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
img.p09-2{
	display: none;
}

/*----------------productBg10*/

.productBg10{
	padding: 80px 0px;
	background-color: #dcdcdc;
	border: 20px solid #fff;
	border-bottom: 0px; 
}
.productBg10 h1{
	margin-bottom:20px;
}
/*----------------productBg11-1*/
.productBg11-1{
	background-color: #fff;
	padding: 100px 0px;
}

.productBg11-1 h1{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}
.productBg11-1 h2{
	font-size: 18px;
	color: #4a4a4a;
	text-align: center;
}
.productBg11-1 p{
	font-size: 14px;
	color: #4a4a4a;
	text-align: center;
	margin-bottom: 50px;
	padding: 0px 40px;
}
.productBg11-1 img{
	padding: 0px 40px; 
}
/*----------------productBg11-1 end*/
.productBg11{
	background-color: #f8f8f8;
	padding: 60px 0px;
}
/*----------------productBg12 */
.productBg12{
	padding: 110px 0px;
	background-color: #f8f8f8;
	border: 20px solid #fff;
	border-bottom: 0px; 
}
.productBg12 h1{
	font-size: 30px;
	font-weight: 500;
	color: #000;
}
.productBg12 h3{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a90e2;
  display: inline-block;
}
.productBg12 h2{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 10px;
}
.row12{
	margin-top: 0px;
}

.productBg12 p{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.64;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7e7e7e;

}
img.p12-1{
	display: inline-block;
	margin-top: -20px;
	margin-right: 20px;
}

img.p12{
	margin-top: 20px;
	width: 70%;
}
/*----------------productBg12 end*/
/*----------3-----productBg12 */
.productBg13{
	padding: 110px 0px;
	background-color: #f8f8f8;
	border: 20px solid #fff;
	border-bottom: 0px; 
}


.productBg13 h2{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 10px;
}

.productBg13 h3{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.3px;
  color: #7e7e7e;
  padding-top: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
.row13{
	margin-top: 0px;
}

.productBg13 p{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.64;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7e7e7e;

}
img.p13-1{
	display: inline-block;
	margin-top: -20px;
	margin-right: 20px;
}


/*----------------productBg12 end*/
.productList{
	text-align: center;
	margin: 0 auto;
}
.productList li{
	position: relative;
	width: 360px;
	height: 360px;
	display: inline-block;
	margin: 60px 60px;
}
.bigPro .slick-track{
	background-color: black;
}
.productList li:hover .mask-info{opacity:1}
.productList li .mask-info{width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(255,255,255,0.85); -moz-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s; transition:all 0.3s; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity:0}
.productList li .mask-info .con{position:absolute; top:45%; left:0; right:0; text-align:center; -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); transform:translateY(-50%)}
.productList li .mask-info h4{color:#000; font-size:24px; line-height:1.5em; padding:0 1em;}
.productList li .mask-info .color{margin:20px 0 40px; min-height:1px}
.productList li .mask-info .color span{display:inline-block; width:20px; height:20px; border:1px solid #fff; margin:0 5px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%}
.pure-button {
    font-size: 14px;
    display: inline-block;
    border-radius: 50px;
    background: #eb1e24;
    padding: 1em .5em;
    margin-bottom: 10px;
    color: #fff;
    border: none rgba(0,0,0,0);
    text-decoration: none;
    zoom:1;line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box
}
.pure-button a {
    padding: .5em 3.5em;
    color: #fff
}
.width550 {
	display: none;
}
.appear{  opacity:1 !important}
.bookmark .beClick{
	opacity: 1;
}
.active{
	display: block;
}

@media screen and (max-width: 847px) {
	.bookmark li {
    	width: 29%;
    	font-size: 20px;
	}
	.bookmark li img {
    vertical-align: middle;
    padding-right: 5px;
	}
}

@media screen and (min-width: 2000px) {
	.container_aa {
	    width: 2400px;
	    margin-left: auto;
	    margin-right: auto;
	}
}

@media screen and (max-width: 1440px){


	.productBg04 {
	    padding: 170px 100px 500px 100px;
	    background-image: url(../Images/lens/lenspro-img-00-1440.jpg);
	    background-position: 50% 50%;
	    -webkit-background-size: cover;
	    background-size: cover;
	}
	.productBg05 {
    padding: 150px 0px;
    /*background-image: url(../Images/acc/img_ACC_03_1440px.png);*/
	}
	.productBg05 .container{
		width: 100%;
	}
	.productBg05 p{
		padding: 0px 50px;
	}

	.productBg02,.productBg02 .t02, .productBg02-1 .t02, .productBg02-1{
		height: 500px;
	}
	.productBg02-1 .t02{
		background-image: url('../Images/lens/lenspro-img-04-1440.png');
	}

	.productBg02 h1, .productBg02 h2, .productBg02 p{
		margin-left: 190px;
	}

	.productBg06{
		padding: 100px 20px;
	}
	.container_aa{
		padding: 0px;
		border: 20px solid #fff;
		border-bottom: 0px; 
	}
	.productBg02 .t01 {
    margin-top: 100px;
	}
	.productBg02-1 .t01{
		margin-top: 30px;
	}

	

}
@media screen and (max-width: 1051px){
		.productBg02, .productBg02 .t02, .productBg02-1 .t02, .productBg02-1 {
	    height: 450px;
	}
	.productBg02 h1, .productBg02 h2, .productBg02 p{
		margin-left: 104px;
	}
	.productBg02 .t01,.productBg02-1 .t01{
		margin-top: 0px;
	}
}

@media screen and (max-width: 1024px) {

	.bookmark li {
	    width: 34%;
	}

	.productBg01{
		padding: 150px 0px 460px 0px;
		background-image: url('../Images/lens/lenspro-banner-mavic-1024.jpg');
		-webkit-background-size: cover;
		background-size: cover;
	}
	.productBg04 h1,.productBg05 h1, .productBg02 h1, .productBg02-1 h1, .productBg06 h1, .productBg07 h1,
	.productBg08 h1, .productBg09 h1, .productBg12 h1, .productBg11-1 h1{
		font-size: 25px;
	}
	.productBg03 h2, .productBg03 p, .productBg04 h2, .productBg05 h2, .productBg02 h2, .productBg02-1 h2
	, .productBg06 h3, .productBg07 h2, .productBg08 h2, .productBg10 p, .productBg12 h2, .productBg13 h2,
	.productBg11-1 h2{
		font-size: 16px;
	}
	.productBg04 p, .productBg05 p, .productBg02 p, .productBg02-1 p, .productBg06 p, .productBg07 p,
	.productBg08 p, .productBg12 p, .productBg13 p{
		font-size: 14px;
	}
	.productBg06 h2{
		font-size: 20px;	
	}
	.productBg06 p{
		padding: 0px 20px;
	}
	.productBg04{
		padding: 80px 20px 440px 20px;
	}
	.productBg04 p{
		padding: 0px 220px;
	}
	.productBg05{
		padding: 130px 0px; 
	}
	.productBg05 .container{
		width: 1100px;
	}
	.productBg13{
		padding: 100px 0px;
	}
	img.p05-1{
		left: -38px;
        top: -200px;
	}

	.productBg02, .productBg02 .t02, .productBg02-1 .t02, .productBg02-1 {
	    height: 450px;
	}
	.productBg02 h1, .productBg02 h2, .productBg02 p{
		margin-left: 104px;
	}
	.productBg02 .t01,.productBg02-1 .t01{
		margin-top: 30px;
	}
	.productBg02 h1, .productBg02 h2{
		width: 100%;
	}
	.productBg02 p, .productBg02-1 p{
		width: 60%;
	}
	.productBg06{
		padding: 50px 0px;
	}
	.productBg06 .container{
		width: 100%;
	}
	.productBg06 .col-sm-2-5{
		width: 33%;
	}
	img.p06{
		padding: 20px 0px;
	}
	img.p07 {
    margin-left: 20px;
    width: 90%;
    margin-top: 80px;
	}
	.productBg10 h1{
		font-size: 30px;
	}
	.productBg08 .container{
		padding: 0px 80px;
	}
	img.p02-1{

    left: -140px;
    width: 330px;
    top: 5px;
	}



}
@media screen and (max-width: 1000px){
	.productBg05 .container {
    width: 100% !important;
	}
	img.p06 {
     padding: 0px 30px; 
    }
    .productBg02 p, .productBg02-1 p {
    width: 90%;
	}
	.productBg02 h1, .productBg02 h2, .productBg02 p, .productBg02-1 h2, .productBg02-1 h1, .productBg02-1 p {
    margin-left: 34px;
	}



}

@media screen and (max-width: 962px){

}
@media screen and (max-width: 768px){
	img.p06 {
    padding: 40px 10px;
	}
	.productBg05 p {
    padding: 0px 0px;
	}
	.productBg05 .t05{
		width: 390px;
	}
	.productBg05 .col-sm-4{
		width: 170px;
	}
	.container{
		width: 100% !important;
	}
	.lens_mavic_repeat_01 img.p07{
	display: none;
	}
	.lens_mavic_repeat_01 img.p07-2{
	display: block;
	    max-width: 300px;
	}
	.productBg02 p, .productBg02-1 p {
    width: 90%;
	}
	.productBg02 h1, .productBg02 h2, .productBg02 p {
    margin-left: 14px;
	}
	.productBg02-1 h1, .productBg02-1 h2, .productBg02-1 p{
		margin-left: 32px;
	}
	.productBg07, .productBg08{
		padding: 30px 0px;
	}
	.lens_mavic_repeat_02 img.p07, .lens_mavic_repeat_03 img.p07, .lens_mavic_repeat_04 img.p07{
		width: 250px;
	}
	.productBg04 p {
    padding: 0px 100px;
	}
	img.p07 {
    width: 350px;
    margin-top: 80px;
	}
	.productBg06 p {
    padding: 0px 30px;
	}


}



@media screen and (max-width: 767px){
	img.p05-1{
		width: 50%;
		margin-left: auto;
		position: relative;
		margin-right: auto;
		margin-bottom: -200px;
		left: 0px;
	}
	img.p05-2{
		width: 80%;
		margin-left: auto;
		position: relative;
		margin-right: auto;
	}
	.t05{
		display: none;

	}
	.productBg05 .col-sm-4 {
    width: 100%;
	}
	img.p02-1 {
		display: none;
	}
	.productBg04 p {
    padding: 0px 60px;
	}
	.productBg02 h1, .productBg02 h2, .productBg02 p, .productBg02-1 h1, .productBg02-1 h2, .productBg02-1 p {
    margin-left: 0px;
	}
	.productBg06 .col-sm-2-5{
		width: 100%;
	}
	.productBg02-1 h2{
		margin-top: 0px;
		padding-top: 90px;
	}
	.productBg02 .t01{
		height: 500px;
		position: relative;
	}
	.productBg02-1 .t02{
		margin-top: 400px;
	}
	.productBg06{
		padding: 100px 0px;
		margin-top: 700px;
	}
	.productBg02-1 .t01{
		margin-top: 0px;
    	height: 400px;
    	position: relative;
    	background-color: #dcdcdc;
	}

	.productBg02-1 h1, .productBg02-1 h2, .productBg02-1 p, .productBg02 p{
		width: 100%;
	}
	.productBg02-1 h2{
		margin-top: -30px;
	}
	img.p06{
		margin-left: auto;
		margin-right: auto;
	}
	.productBg11-1 img {
    padding: 0px 40px;
    margin-left: auto;
    margin-right: auto;
	}
	.container_aa{
		display: none;
	}
	.switch_mobile{
		display: block;
	}
	.switch_mobile .container{
		border: 20px solid #fff;
		padding: 0px 0px;
		border-bottom: 0px;
	}
	img.swt_01{
		border-bottom: 20px solid #fff; 
	}

	


}

@media screen and (max-width: 654px){
	.bookmark li img {
    padding-right: 5px;
	}
	.bookmark {
    white-space: nowrap;
    overflow-x: auto;
	}
	.bookmark li {
	    width: 52%;
	}

}

@media screen and (max-width: 414px){
	.loader{
		margin-top: 200px;
	}
	.productList li{
		margin: 40px 20px
	}
	.productBg07{
		border: 10px solid #fff;
	}
	.productBg08, .productBg09, .productBg10, .productBg12, .productBg13{
		border: 10px solid #fff;
		border-bottom: 0px;
	}
	img.swt_01{
		border-bottom: 10px solid #fff;
	}
	.switch_mobile .container{
		border: 0px; 
	}
	.bookmark{
		height: 73px
	}
	.bookmark li {
	    width: 45%;
	    font-size: 14px;
	    margin: 6px 0;
	}
	.productBg01 {
    background-image: url(../Images/lens/lenspro-banner-mavic-414.jpg);
    padding: 100px 0px 400px 0px;
    background-position: 50% 50%;
	}
	.productBg01 h1{
		font-size: 30px;
	}
	.productBg01 h2{
		font-size: 14px;
		margin-top: 0px;
	}

	.productBg02 .t02 {
    background-image: url(../Images/lens/lenspro-img-03-414.png);
    -webkit-background-size: cover;
    height: 220px;
    background-size: cover;
	}
	.productBg02-1 .t01{
		height: 370px;
	}
	.productBg02 p{
		padding-right: 0px;
	}
	.productBg02-1 .t02{
		 height: 220px;
	}
	.productBg03{
		padding: 60px 0px 40px 0px;
	}

	.productBg03 h2{
		margin-bottom: 40px;
	}
	.productBg04 h1{
		padding: 0px 60px;
	}
	.productBg04 {
      padding: 40px 20px 240px 20px;
	}
	.productBg04 p{
		padding: 0px 20px;
	}
	img.p05-1{
		width: 60%;
	}
	img.p05-2{
		width: 100%;
	}
	.productBg05{
		padding: 20px 0px;
	}
	.productBg02 .t01{
		height: 270px;
	}
	.productBg02-1 .t02{
		margin-top: 114px;
	}

	.productBg08 .container{
		padding: 0px 20px;
	}
	.productBg02 .t01{
		margin-top: 45px;
	}
	.productBg02-1 h2{
		padding-top: 46px;
	}
	.productBg06{
		margin-top: 160px;
	}
	.productBg08{
		padding: 40px 0px;
	}
	.productBg08 h1, .productBg08 h2, .productBg08 p{
		text-align: center;
	}
	.buy_btn{
		margin-left: auto;
		margin-right: auto;
	}
	.productBg06{
		padding: 80px 0px; 
	}
	.productBg06 h1{
		padding: 0px 60px;
		line-height: 1.4;
	}
	.productBg06 h3{
		margin-bottom: 0px;
		padding: 0px 30px;
		line-height: 1.64;
	}

	img.p06 {
    padding: 40px 0px;
	}
	.productBg06 p{
		padding: 0px 80px;
	}
	.productBg07{
		padding: 50px 0px;
	}
	.productBg07 .container{
		padding: 0px 30px;
	}
	img.p07 {
    width: 350px;
    margin-top: 20px;
    margin-left: 0px;
	}
	.productBg09, .productBg10{
		padding: 50px 0px
	}
	img.p09-2{
	display: block;
	width: 80%;
	margin-top: 20px;
	}

	img.p09{
	display: none;
	}
	.productBg11-1 .container{
		padding: 0px 30px;
	}
	.productBg11-1{
		padding: 46px 0px
	}
	.lens_mavic_repeat_01 img.p07-2{
		width: 80%;
		margin-bottom: 20px;
	}
	.productBg12{
		padding: 20px 0px;
	}
	.productBg13{
		padding: 40px 0px;
	}
	.productBg12 .container, .productBg13 .container{
		padding: 20px 30px;
	}







}


@media screen and (max-width: 375px) {


	.productList li {
	    position: relative;
	    width: 320px;
	    height: 360px;
	    display: inline-block;
	    margin: 52px 19px;
	}
	.con_13{
		padding: 0px 20px;
	}
	.productBg12 .container{
		padding: 0px 40px;
	}
	

}
@media screen and (max-width: 320px) {
	.bookmark li {
    	width: 60%;
	}
    .productBg12 .container {
    padding: 0px 25px;
	}
	.con_13 {
	     padding: 0px 0px; 
	}
	.productList li {
  
    display: inline-block;
    margin: 2px 19px;
    width: 260px;
	}
	.productBg04 h1 {
    padding: 20px;
	}
	.productBg06 h1 {
    padding: 0px 30px;
        margin-top: 90px;
	}
	.productBg04 p {
    padding: 0px 0px;
	}
	.productBg06 p {
    padding: 0px 20px;
	}
	.lens_mavic_repeat_02 img.p07, .lens_mavic_repeat_03 img.p07, .lens_mavic_repeat_04 img.p07{
		margin-left: auto;
		margin-right: auto;
	}
		.productBg02-1 .t01{
		height: 420px;
	}

}
